.App {
  background-color: #AAA;
  font-family: 'Manrope', sans-serif;
}

.Main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.Display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 70px;
  max-height: 70px;
  background-color: #499CBF;
}

