.Footer {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 7.5vh;
    background-color: #57BBE6;
    font-weight: 600;
    min-height: 50px;
}

.Footer p {
    margin: 15px;
}

.Footer img {
    max-height: 100%;
    max-width: 115px;
}
