.Header {
    display: block;
    width: 98.7vw;
    height: 8vh;
    background-color: #57BBE6;
    text-align: center;
    min-height: 50px;
}

.Header h1 {
    max-height: 100%;
    text-align: center;
}