.display {
    margin: 10px;
    padding: 10px;
    font-size: 1.4rem;
}

.display b {
    font-weight: bolder;
    font-size: 1.08em;
}


.numVoo {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    margin: 20px;
    padding: 15px;
    font-size: 1.6rem;
    max-width: 400px;
    min-width: 400px;
}

.idVoo {
    text-align: center;
}

.idVoo h2 {
    font-weight: 800;
}

